<div class="container">
  <div class="row">
    <div>
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
        </div>
        <form>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input
                type="email"
                class="form-control mt-1"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
              <!-- <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            > -->
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control mt-1"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
            <div class="form-group form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Remember me</label
              >
            </div>
            <button type="submit" class="btn btn-primary login-btn">
              Submit
            </button>
          </form>
        </form>
        <a routerLink="/signup" style="color: white"
          >New user? Click to SignUp!!</a
        >
      </div>
    </div>
  </div>
</div>
